// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$sun-valley: "Sun Valley", cursive;

$regular-text-shadow: 1px 1px 5px #000;
$heading-text-shadow: 2px 2px 5px #000;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #008545;
$teal: #4dc0b5;
$cyan: #6cb2eb;
